.card-wrapper{
    width: 80%;
    margin: 0% auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    overflow: hidden;
    grid-gap: 50px 0px;
    justify-items: center;
    padding: 40px 0 80px;
}
/*mobie*/
@media (max-width: 767px) {
    .card-wrapper{
        grid-template-columns: 1fr;
        width: 95%;
        margin: 0% auto;
        justify-content: center;
    }
}

/*Ipad*/ 
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .card-wrapper{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1251px){
    .card-wrapper{
        grid-gap: 50px 20px;
    }
}