@import "/src/Commonstyles/variables";
.card{
    background-color: $special-color-one;
    color: $primary-color;
    width: 500px;
    min-height: 350px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .top{
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 400px;
        h1{
            font-size: 40px;
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 70px;
        max-width: 400px;
        .btn{
            background-color: $secondary-color;
            padding: 10px 30px;
            border-radius: 15px;
            cursor: pointer;
           
        }
    }
}
/*mobie*/
@media (max-width: 767px) {
    .card{
        padding: 30px;
        max-width: 78%;
        .top{
            max-width: 310px;
            h1{
                font-size: 25px;
            }
            
        }
        .bottom{
            max-width: 310px;
        }
    }
}
/*Ipad*/ 
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .card{
        max-width: 500px;
    }
}